<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edytuj komentarz</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Edytuj komentarz</h2>
    <form action="#" th:action="@{/admin/edit-comment}" method="post" class="mc-form" th:object="${comment}">
        <input type="hidden" th:field="*{id}">
        <label for="comment">Edytuj komentarz</label>
        <textarea id="comment" th:text="*{commentContent}" rows="3" th:field="*{commentContent}"></textarea>
        <button type="submit">Zapisz zmiany</button>
    </form>
</main>
</body>
</html>