<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title>Gatunki filmowe - MovieClub</title>
    <script>
        var deleteLinks = document.querySelectorAll('.delete');

        for (var i = 0; i < deleteLinks.length; i++) {
            deleteLinks[i].addEventListener('click', function (event) {
                event.preventDefault();

                var choice = confirm(this.getAttribute('data-confirm'));

                if (choice) {
                    window.location.href = this.getAttribute('href');
                }
            });
        }
    </script>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <p class="notification-bar" th:if="${notification}" th:text="${notification}">
        Belka z powiadomieniami
    </p>
    <h2 class="list-heading">Gatunki filmowe</h2>
    <p class="list-description">
        Poniżej znajdziesz listę gatunków filmowych dostępnych w naszym serwisie.
    </p>
    <!--        <ul class="list-border">-->
    <!--            <li th:each="genre: ${genres}">-->
    <!--                <a th:href="@{|/gatunek/${genre.name}|}"-->
    <!--                   th:text="${genre.name}">-->
    <!--                    Dramat-->
    <!--                </a>-->
    <!--            </li>-->
    <!--        </ul>-->
    <table class="list-border">
        <tr th:each="genre: ${genres}">
            <td>
                <a th:href="@{|/gatunek/${genre.name}|}"
                   th:text="${genre.name}">
                    Dramat
                </a>
            </td>
            <td class="table-action-button"
                sec:authorize="hasAnyRole('ADMIN','EDITOR')">
                <a class="table-action-button-font"
                   href="#"
                   th:href="@{|/admin/edytuj-gatunek/${genre.id}|}"
                >Edytuj</a>
            </td>
            <td class="table-action-button"
                sec:authorize="hasAnyRole('ADMIN','EDITOR')">
                <a class="table-action-button-delete-font delete"
                   data-confirm="Czy na pewno chcesz usunąć?"
                   href="#"
                   th:href="@{|/admin/usun-gatunek/${genre.id}|}">Usuń</a>
            </td>
        </tr>
    </table>
</main>
</body>
</html>